@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';
//style du html//
html{
    position: relative;
    min-height: 100%;

}

//style du main//
main{
    margin-bottom:200px ;
}

//style du footer//
footer.footer{
 padding: 20px;
 position:absolute;
 bottom: 0; 
 width:100%;  
}

//attribution des polices//
p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.vitrine{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.image-card{
    position: relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }
    .titre-image{
        position: absolute;
        top: 50%;
        left:50%;
        transform:translate(-50%, -50%) ;
        opacity:0;
        transition: all 0.3s;
    }
}